@mixin btn-base{
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
}
@mixin btn-sm-modify {
    font-size: 0.75rem;
    padding: 0.1rem 1rem;    
}
$color-main: #0075FF;


.btn-main{
    @include btn-base();
    background-color: $color-main;
    color: white;
    border: 1px solid $color-main;
    

    &:hover{
        background-color: white;
        color: $color-main;
        border: 1px solid $color-main;
    }

    &-s{
        @extend .btn-main;
        @include btn-sm-modify();
    }
}

.btn-sec{
    @include btn-base();
    color: #000000;
    background-color: transparent;
    border: transparent;

    &:hover{
        color: #4444;
        border: transparent;
    }

    &-s{
        @extend .btn-sec;
        @include btn-sm-modify();
    }
    
}