@use "components";

@mixin section-display {
    width: 100%;
    max-width: 992px;
    margin: auto;
    padding: 3rem;
}

html{
    min-width: 100vw;
}

body{
    margin: 0;
    padding: 0;
    
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid #ddd;
}
.logo a img{
    max-width: 7rem;
}
    

.sec-home {
    display: flex;
    align-items: center;
    @include section-display();
    .home-cta {
        flex: 1;
        .cta-text {
            color: components.$color-main;
        }
        .home-title {
            width: 20rem;
            font-size: 3rem;
        }
        .home-description {
            width: 300px;
        }
        .lead-magnet {
            .input-col {
                max-width: 200px;
            }
            .btn-col {
                max-width: 200px;
            }
        }
    }
}
.sec-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include section-display();
    .intro{
        margin: 0 auto;
        text-align: center;
        h3{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.3rem;
            color: #888;
        }

    }
    .features{
        display: flex;
        justify-content: center;
        grid-area: 1rem;
        
        .text{
            padding: 2rem 0;;
            flex: 1;
            .feature{
                display: flex;
                gap: 2rem;
                flex-direction: row;
                align-items: center;

                .description{
                    margin-left: 1rem;
                    .description-title{
                        font-size: 1.25rem;
                    }
                    .description-text{
                        font-size: 1rem;
                        max-width: 20rem;


                    }
                }
            }
        }
        .image{
            display: flex;
            margin: auto;
            align-items: center;
            
            img{
                max-width: 25rem;
            }
        }
    }
}
.sec-benefits{
    display: flex;
    border-top: 1px solid #ddd;
    @extend .sec-features, .intro;
    max-width: 1200px;
    
    .benefit-cards{
        display: flex;
        flex-direction: row;
        gap: 1rem;

    }
}
.sec-kpis{
    background-color: components.$color-main;
    color: white;
    .kpis{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        @extend .sec-features, .intro;
        max-width: 1200px;
        .kpi{
            display: flex;
            flex-direction: column;
            .number{
                font-size: 2.5rem;
                font-weight: bold;
                text-align: center;
            }
            .desc{
                font-size: 0.8rem;
                text-align: center;
            }
        }
    }
        
}
.sec-onbaording{
    display: flex;
    flex-direction: column;
    @extend .sec-features, .intro;

    .steps{
        display: flex;
        padding-top: 0;
        margin-bottom: 4rem;
        justify-content: space-around;
        flex-direction: row;
        @extend .sec-features, .intro;
        max-width: 1200px;
    }
    .step-divider{
        flex: 1;
        border-top: 1 px solid #ddd;
    }
}
.sec-footer-cta{
    display: flex;
    flex-direction: row;
    background-color: components.$color-footer;
    padding: 5rem;
    background-image: url('https://drive.google.com/uc?id=1p2iR90px95cuRu3ruxMGoWHe0s0M788K');
    background-repeat: no-repeat;
    background-position: 100% ;

    .footer-cta{
        margin-left: 20%;
        max-width: 500px;
        .cta-title{
            font-size: 2rem;
        }
        .cta{
            font-size: 1.1rem;
        }
    }
}

@media (max-width: 768px){
    .home-cta {
        .cta-text {
        }
        .home-title {
        }
        .home-description {
            width: 100%;
        }
        .lead-magnet {
            width: 100%;
            flex-direction: column;
            .input-col {
            }
            .btn-col {
            }
        }
    }

    .sec-benefits{
                
        .benefit-cards{
            flex-direction: column;
            .benefit{
                width: 100%;
                margin: auto;
            }   
        }
    }
    .sec-onbaording{
        .steps{
            flex-direction: column;
        }
    }
    .sec-kpis{
        
        .kpis{
            flex-direction: column;
            gap: 3rem;
            .kpi{
                .number{
                }
                .desc{
                }
            }
        }
            
    }
}